.accordion {
  .js-accordion-trigger{
    cursor: pointer;
  }
  > li > h4{
    font-weight: normal;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    &:after {
      content: url(../images/icons/arrow-bottom.svg);
      margin-left: 20px;
    }
  }

  .content {
    display: none;
    padding: 10px 0;
  }

  .is-expanded {
    > h4:after {
      content: url(../images/icons/arrow-top.svg);
    }

    display: block;
  }
}
