.accordion {
  .js-accordion-trigger{
    cursor: pointer;
  }
  > li > h4{
    font-weight: normal;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }

  .content {
    display: none;
    padding: 10px 0;
  }

}
