.community {
  padding-top: 120px;
  margin-top: -90px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  .tab-content {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  }
