footer {
  background-color: $red;
  margin-top: 40px;
  font-family: $heading-font-family;
  padding: 20px 0;
  .logos{
    width: 50%;
    display: inline-block;
    text-align: center;
    img{
      max-height: 40px;
      margin-right: 18px;
    }
  }
  nav{
    float: right;
    line-height: 80px;
    a{
      color: #fff;
      font-weight: bold;
      padding-left: 20px;
      font-size: 16px;
      max-height: 20px;
      &:hover{
        color: #fff;
        text-decoration: underline;
      }
    }
    a:nth-child(-n+4) {
      text-decoration: none;
    }
  }
  @media (min-width: 320px) and (max-width: 1199px){
    height: auto;
    text-align: center;

    .logos{
      width: 100%;
      img{
        max-height: 35px;
      }
    }
    nav {
      width: 100%;
      float: none;
      line-height: 30px;
      padding-top: 20px;
      a{
        padding-left: 0px;
        padding-right: 20px;
      }
      a:nth-last-child(-n+2) {
        display: block;
      }
    }
  }
}
