header {
  background-color: $red;
  height: 110px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 99;
  font-family: $heading-font-family;
  .logo{
    float: left;
    padding: 28px 30px 0 30px;
    img{
      max-height: 55px;
    }
  }
  nav{
    float: right;
    ul{
      li{
        float: left;
        padding-right: 70px;
        a{
          color: #fff;
          line-height: 100px;
          display: block;
          border-top: 5px solid $red;
          &:hover, &:active, &:focus {
            border-top-color: #fff;
            color: #fff;
          }
        }
      }
    }
  }
  &.navbar-fixed-top{
    height: 80px;
    .logo{
      padding-top: 10px;
      img{
        max-height: 40px;
      }
    }
    nav ul li a{
      line-height: 70px;
    }
  }

  @media (min-width: 780px) and (max-width: 1199px){
    nav ul li{
      padding-right: 40px;
      font-size: 15px;
    }
  }
  @media (min-width: 320px) and (max-width: 959px){
    height: 75px;
    nav{
      display: none;
    }
    .logo{
      float: none;
      margin: 10px auto;
      padding: 0;
      display: block;
      text-align: center;
    }
  }
}
