.sessions {
	padding-top: 120px;
	margin-top: -90px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
	.sessions-content{
		overflow: hidden;
		.session{
			width: 50%;
			padding-right: 40px;
			float: left;
			margin: 20px 0;
			img{
				float: left;
				width: 200px;
				margin-right: 30px;
				display: inline-block;
			}
			h3{
				font-size: 22px!important;
			}
			p{
				font-size: 16px;
			}
			&:nth-child(2n+1){
				clear: left;
			}
			@media (min-width: 320px) and (max-width: 779px){
				width: 100%;
				padding-right: 0!important;
			}
			@media (min-width: 320px) and (max-width: 959px){
				img{
					width: 150px;
				}
			}
		}
	}
}
