$red: #DC0833;

.tabs {
  margin-top: 25px;
  padding: 0;
  overflow: hidden;

  .tab {
    display: inline;
    &:last-child{
      margin-right: 0;
    }
  }

  .tab-link {
    display: inline-block;
    color: $red;
    padding: 0 11px;
    line-height: 59px;
    font-family: 'Open Sans', sans-serif;
    height: 65px;
    margin-right: 3px;
    cursor: pointer;
    border: 3px solid $red;
    font-size: 16px;
    font-weight: 700;
    &:hover{
      background-color: $red;
      color: #fff!important;
    }
    &.is-active{
      background-color: $red;
      color: #fff;
    }
  }

  .tab-link-inactive {
    display: inline-block;
    color: $red;
    padding: 0 11px;
    line-height: 59px;
    font-family: 'Open Sans', sans-serif;
    height: 65px;
    margin-right: 3px;
    cursor: pointer;
    border: 3px solid $red;
    font-size: 16px;
    font-weight: 700;
    &:hover{
      background-color: $red;
      color: #fff!important;
    }
    &.is-active{
      background-color: $red;
      color: #fff;
    }
  }

  .tab-content {
    display: none;
    width: 100%;
    float: left;
  }
  @media (min-width: 320px) and (max-width: 1199px){
    .tab-link {
      padding: 0 5px;
      line-height: 44px;
      height: 50px;
      margin-right: 0px;
      border: 3px solid $red;
      font-size: 14px;
    }
  }
  @media (min-width: 320px) and (max-width: 959px){
    .tab {
      display: block;
      width: 100%;
    }
    .tab-link {
      display: inline-block;
      margin-bottom: 3px;
      margin-right: 0;
      width: 100%;
    }
  }
}
