.top-slider {
  hgroup{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 290px;
    margin-top: -110px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }
  .slider{
    margin-top: 80px;
    padding: 0 35px;
    .item{
      display: flex;
      padding: 30px;
      img{
        align-self: center;
        max-width: 120px;
        margin-right: 20px;
      }
      h4{
        align-self: center;
        text-align: center;
        strong{
          font-size: 24px;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 959px){
      .item{
        padding: 20px;
        img{
          max-width: 70px;
        }
        h4{
          strong{
            font-size: 18px;
          }
        }
      }
    }
    @media (min-width: 320px) and (max-width: 779px){
      .item{
        display: block;
        img{
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 479px){
      .item{
        display: block;
      }
    }
  }
}

