.top-slider {
  hgroup{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 255px;
    margin-top: -110px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    h4 {
      padding-top: 10px;
    }
    .introtext {
      display: inline-block;
      text-align: left;
      li {
         list-style:disc;
         color:#DC0833;
         span {
           color:#747474;
         }
       }
    }
    .doc-link {
      display: inline-block;
      color: #DC0833;
      padding: 0 11px;
      line-height: 59px;
      font-family: 'Open Sans', sans-serif;
      height: 65px;
      margin-right: 3px;
      cursor: pointer;
      border: 3px solid #DC0833;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      .doc-text:before{
        vertical-align: middle;
        content: url(../images/icons/discuss_red.svg);
        background-size: 40px;
        background-size: contain;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .doc-link:hover {
      background-color: #DC0833;
      .doc-text:before{
        vertical-align: middle;
        content: url(../images/icons/discuss_white.svg);
        background-size: 40px;
        background-size: contain;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
      .doc-text{
        color:#fff !important;
      }
     }
     .report-link {
       display: inline-block;
       color: #DC0833;
       padding: 0 11px;
       line-height: 59px;
       font-family: 'Open Sans', sans-serif;
       height: 65px;
       margin-right: 3px;
       cursor: pointer;
       border: 3px solid #DC0833;
       font-size: 16px;
       font-weight: 700;
       text-align: center;
       .report-text:before{
         vertical-align: middle;
         content: url(../images/icons/doc_red.svg);
         background-size: 40px;
         background-size: contain;
         display: inline-block;
         width: 40px;
         height: 40px;
         margin-right: 10px;
       }
     }

     .report-link:hover {
       background-color: #DC0833;
       .report-text:before{
         vertical-align: middle;
         content: url(../images/icons/doc_white.svg);
         background-size: 40px;
         background-size: contain;
         display: inline-block;
         width: 40px;
         height: 40px;
         margin-right: 10px;
       }
       .report-text{
         color:#fff !important;
       }
      }
  }
  .slider{
    margin-top: 80px;
    padding: 0 35px;
    .item{
      display: flex;
      padding: 30px 30px 10px 30px;
      justify-content: center;
      img{
        align-self: center;
        max-width: 70px;
        min-width: 40px;
        margin-right: 20px;
      }
      h4{
        align-self: center;
        text-align: center;
        strong{
          font-size: 24px;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 959px){
      .item{
        padding: 20px 20px 0 20px;
        img{
          max-width: 70px;
        }
        h4{
          strong{
            font-size: 18px;
          }
        }
      }
    }
    @media (min-width: 320px) and (max-width: 779px){
      .item{
        display: block;
        img{
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
    @media (min-width: 320px) and (max-width: 479px){
      .item{
        display: block;
      }
    }
  }
}
