%section.community#community
	.container
		%h2.border Community
		%h4 Pick an Event:
		.gallery
			.cols
				.thirty-col
					%ul.tabs#community_tabs
						%li.tab.community_title
							=link_to 'Pre-events', '#', class: 'tab-link'
							.tab-content
								%ul.accordion
									%li
										%h4 Open Cities Summit
									%li
										%h4 Unconference
									%li
										%h4 My best Open Data Fail
									%li
										%h4 OD4D
						%li.tab.community_title
							=link_to 'Talks', '#', class: 'tab-link'
							.tab-content
								%ul.accordion
									%li
										%h4 Open Cities Summit 2
									%li
										%h4 Unconference
									%li
										%h4 My best Open Data Fail
									%li
										%h4 OD4D
				.seventy-col
					.h1-w2
						=image_tag 'photos/photo4.png'
		.cols
			.half-col
				.row
					.box-wide
						=image_tag 'photos/photo3.png'
					.box-small
						=image_tag 'photos/photo3.png'
				.row
					.box-small
						=image_tag 'photos/photo3.png'
					.box-wide
						=image_tag 'photos/photo3.png'
			.half-col
				=image_tag 'photos/photo3.png'
