%section.community#community
	.container
		%h2.border Community
		%h4 Pick an Event:
		.gallery
			.cols
				.thirty-col
					%ul.tabs#community_tabs
						%li.tab.community_title
							=link_to 'Hands-on', '#', class: 'tab-link'
							.tab-content
								%ul.accordion
									%li
										%h4
											=link_to 'OD4D', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('od4d.json')"
									%li
										%h4
											=link_to 'Extractives Data Drive', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('extractives_data_dive.json')"
									%li
										%h4
											=link_to "Visualizar '16", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('visualizar_16.json')"
									%li
										%h4
											=link_to "Unconference", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('unconference.json')"
									%li
										%h4
											=link_to "Open Contracting. Progress, Challenges, Innovation", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_contracting_progress_challenges_innovation.json')"
									%li
										%h4
											=link_to "Open data for Disaster Reponse - Humanitarian OpenStreetMap Team", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_data_for_disaster_reponse_-_humanitarian_openstreetmap_team.json')"
									%li
										%h4
											=link_to "Open Data in Half a Day", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_data_in_half_a_day.json')"
									%li
										%h4
											=link_to "Open Data Challenge Prize: Lessons learned innovation workshop", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_data_challenge_prize_lessons_learned_innovation_workshop.json')"
									%li
										%h4
											=link_to "Open Data Standards Day", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_data_standards_day.json')"
									%li
										%h4
											=link_to "HIVOS Open Contracting training", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('hivos_open_contracting_training.json')"
						%li.tab.community_title
							=link_to 'Talks', '#', class: 'tab-link'
							.tab-content
								%ul.accordion
									%li
										%h4
											=link_to 'Workshop on open data and language processing technologies: An opportunity not to be missed', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('workshop_on_open_data_and_language_processing_technologies_an_opportunity_not_to_be_missed.json')"
									%li
										%h4
											=link_to 'Open Cities Summit', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_cities_summit.json')"
									%li
										%h4
											=link_to 'Open Data and Culture', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_culture.json')"
									%li
										%h4
											=link_to 'My Best Open Data Fail', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('my_best_open_data_fail.json')"
									%li
										%h4
											=link_to "Openness and National Statistical Offices: A Review of Available Tools and Methods", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('openness_and_national_statistical_offices_a_review_of_available_tools_and_methods.json')"
									%li
										%h4
											=link_to "Follow the Money and Open Data: Mapping Assets, Building Synergies", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('follow_the_money_and_open_data_mapping_assets_building_synergies.json')"
						%li.tab.community_title
							=link_to 'Pre-events', '#', class: 'tab-link'
							.tab-content
								%ul.accordion
									%li
										%h4
											=link_to 'Spanish OD “Aporta” Event', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('spanish_od_aporta_event.json')"
									%li
										%h4
											=link_to "Africa Open Data Day", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('africa_open_data_day.json')"
									%li
										%h4
											=link_to "CKAN Conference", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('ckan_conference.json')"
									%li
										%h4
											=link_to "OGP Natural Resources Peer Exchange", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('ogp_natural_resources_peer_exchange.json')"
									%li
										%h4
											=link_to "Finodex – ODINE", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('finodex_–_odine.json')"
									%li
										%h4
											=link_to "OD Leaders Summit: Getting to Impact", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('od_leaders_summit_getting_to_impact.json')"
									%li
										%h4
											=link_to "Indigenous Open Data Summit", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('indigenous_open_data_summit.json')"
				.seventy-col
					.h1-w2
						=image_tag 'photos/photo4.png'
		.cols
			.half-col
				.row
					.box-wide
						=image_tag 'photos/photo3.png'
					.box-small
						=image_tag 'photos/photo3.png'
				.row
					.box-small
						=image_tag 'photos/photo3.png'
					.box-wide
						=image_tag 'photos/photo3.png'
			.half-col
				=image_tag 'photos/photo3.png'
