%section.extra-info
  #animatedModal
    .close-animatedModal
      .close-icon{:onclick => "close_modal()"}
    .modal-content
      .session-description
        %h4 Description:
        %h5 This was the most awesome conference of all, don't let the description of other conferences tell you otherwise.
        =link_to 'Go to Notes', ''
      .speakers-list
        .speaker-section
          %h4 Speakers:
          =link_to 'Javier Hernández-Roz', '#'
          =link_to 'Naser Faruqui', '#'
          =link_to 'Haishan Fu', '#'
          =link_to 'Luis Cueto', '#'
          =link_to 'Victor Calvo-Sotelo', '#'
      .multimedia
        .video-embebed
          %iframe{allowfullscreen:'', frameborder: '0', src:'https://www.youtube.com/embed/4wpU8kFC-V0'}
        .mini-gallery
          .top-left-img
            =image_tag('https://c2.staticflickr.com/6/5165/30045922182_d4743db62c_m.jpg')
          .top-right-img
            =image_tag 'https://c2.staticflickr.com/6/5165/30045922182_d4743db62c_m.jpg'
          .bottom-left-img
            =image_tag 'https://c2.staticflickr.com/6/5165/30045922182_d4743db62c_m.jpg'
          .bottom-right-img
            =image_tag 'https://c2.staticflickr.com/6/5165/30045922182_d4743db62c_m.jpg'
      .conference-feed
        %h2 Buzz
        .slider-two
          .item
            .twitter-icon=image_tag 'icons/twitter.svg'
            .item-info
              %h4 #IODC16
              %h5 Agenda is finally live! Start scheduling your sessions
              =link_to 'http://opendatacon.org/agenda/'
              %h4 '#opendata'
          .item
            .square
            .item-info
              %h4 #IODC16
              %h5 Agenda is finally live! Start scheduling your sessions
              =link_to 'http://opendatacon.org/agenda/'
              %h4 '#opendata'
          .item
            .square
            .item-info
              %h4 #IODC16
              %h5 Agenda is finally live! Start scheduling your sessions
              =link_to 'http://opendatacon.org/agenda/'
              %h4 '#opendata'
