%section.extra-info
  #animatedModal
    .close-animatedModal
      .close-icon{:onclick => "close_modal()"}
    .modal-content
      .session-description
        %h2 Main Session Title&nbsp;
        =link_to 'Go to Notes', ''
      .speakers-list
        .speaker-section
          %h4 Speakers:
          =link_to 'Javier Hernández-Roz', '#'
          =link_to 'Naser Faruqui', '#'
          =link_to 'Haishan Fu', '#'
          =link_to 'Luis Cueto', '#'
          =link_to 'Victor Calvo-Sotelo', '#'
      .multimedia
        .video-embebed
          %iframe{allowfullscreen:'', frameborder: '0', src:'https://www.youtube.com/embed/4wpU8kFC-V0'}
        .conference-info
          .conference-review
            %p Mister Sayashi: Data is important, but more important is to make use of the data. Please work with data to make life better
            %p Mister Sayashi: Data is important, but more important is to make use of the data.
            %p Mister Sayashi: Data is important, but more important is to make use of the data.
            %p Mister Sayashi: Data is important, but more important is to make use of the data.
          .conference-feed
            .slider-two
              .item
                .twitter-icon=image_tag 'icons/twitter.svg'
                .item-info
                  %h4 #IODC16
                  %h5 Agenda is finally live! Start scheduling your sessions
                  =link_to 'http://opendatacon.org/agenda/'
                  %h4 '#opendata'
              .item
                .twitter-icon=image_tag 'icons/twitter.svg'
                .item-info
                  %h4 #IODC16
                  %h5 Agenda is finally live! Start scheduling your sessions
                  =link_to 'http://opendatacon.org/agenda/'
                  %h4 '#opendata'
              .item
                .twitter-icon=image_tag 'icons/twitter.svg'
                .item-info
                  %h4 #IODC16
                  %h5 Agenda is finally live! Start scheduling your sessions
                  =link_to 'http://opendatacon.org/agenda/'
                  %h4 '#opendata'
