%section.impact#impact
	.container
		%h2.border Impact
		%h4 Pick a Track:
		%ul.tabs
			%li.tab
				=link_to 'Education', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Agriculture', '#', class: 'tab-link'
				.tab-content
					Agriculture
			%li.tab
				=link_to 'Geoespacial', '#', class: 'tab-link'
				.tab-content
					Geoespacial
			%li.tab
				=link_to 'Utilities', '#', class: 'tab-link'
				.tab-content
					Utilities
			%li.tab
				=link_to 'Culture', '#', class: 'tab-link'
				.tab-content
					Culture
			%li.tab
				=link_to 'Transport', '#', class: 'tab-link'
				.tab-content
					Transport