%section.impact#impact
	.container
		%h2.border Impact
		%h4 Pick a Track:
		%ul.tabs
			%li.tab
				=link_to 'Accountability', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Accountability I
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Accountability II
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Open Performance
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Open Data and National Statistical Offices: Experiences and Opportunities
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Budget
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Journalism
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Anticorruption
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Business', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Business
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Business models
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Emerging Economies', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Emerging economies
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Disaster Managment
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Humanitarian issues
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + International Aid I
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + International Aid II
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Environment', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Geospatial
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Agriculture
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Environment
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Extractives
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Governance', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Parliaments
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Scaling Up and Deepening Open Data's Transformative Impact in Open Government
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Elections
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Inequality
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Indigenous
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Public Services', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Cities I
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Cities II
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Education
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Utilities
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Transport
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Culture
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Science and Technology', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Data + Hacking Data
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Science
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Language Processing Technologies
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Data + Platforms
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
