%section.impact#impact
	.container
		%h2.border Impact
		%h4 Pick an Area:
		%ul.tabs#impact_tabs
			%li.tab.impact_title
				=link_to 'Accountability', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Accountability I', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_accountability_i.json')"
								%li
									%h4
										=link_to 'Data + Accountability II', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_accountabilitiy_ii.json')"
								%li
									%h4
										=link_to 'Data + Open Performance', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('regional_talks_asia.json')"
								%li
									%h4
										=link_to 'Data + Open Data and National Statistical Offices: Experiences and Opportunities', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_national_statistical_offices.json')"
								%li
									%h4
										=link_to 'Data + Budget', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_budget.json')"
								%li
									%h4
										=link_to 'Data + Journalism', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_data_journalism.json')"
								%li
									%h4
										=link_to 'Data + Anticorruption', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('rdata_+_anticorruption.json')"
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Business', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Business', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('regional_talks_asia.json')"
									.content
										%p Coming Soon!
								%li
									%h4
										=link_to 'Data + Business models', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_business_models.json')"
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Emerging Economies', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Emerging economies', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_emerging_economies.json')"
								%li
									%h4
										=link_to 'Data + Disaster Management', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('regional_talks_asia.json')"
									.content
										%p Beyond the work on budgets and financials, there is a great opportunity for Open Data to be use in disasters
										%h4 Projects
										%p http://thinkhazard.org/ , Earthquake response , http://earthquake.opennepal.net/
								%li
									%h4 Data + Humanitarian issues
									.content
										%p Coming Soon!
								%li
									%h4
										=link_to 'Data + International Aid I', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_international_aid_i.json')"
								%li
									%h4
										=link_to 'Data + International Aid II', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_international_aid_ii_data_and_the_sdg.json')"
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Environment', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Geospatial', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_geospatial_.json')"
									.content
										%p Coming Soon!
								%li
									%h4
										=link_to 'Data + Agriculture', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_agriculture.json')"
								%li
									%h4
										=link_to 'Data + Environment', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_environment.json')"
								%li
									%h4
										=link_to 'Data + Extractives', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_extractives.json')"
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Governance', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Parliaments', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_parliaments.json')"
								%li
									%h4
										=link_to "Data + Scaling Up and Deepening Open Data's Transformative Impact in Open Government", '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('scaling_up_and_deepening_open_datas_transformative_impact_in_open_government.json')"
								%li
									%h4
										=link_to 'Data + Elections', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_elections.json')"
								%li
									%h4
										=link_to 'Data + Inequality', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_inequality.json')"
								%li
									%h4
										=link_to ' Data + Indigenous', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_indigenous.json')"
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Public Services', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Cities I', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_cities_i.json')"
								%li
									%h4
										=link_to 'Data + Cities II', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_cities_ii.json')"
								%li
									%h4
										=link_to 'Data + Education', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_education.json')"
								%li
									%h4
										=link_to 'Data + Utilities', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_utilities.json')"
								%li
									%h4
										=link_to 'Data + Transport', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_transport.json')"
								%li
									%h4
										=link_to 'Data + Culture', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_culture.json')"
						.half-col
							=image_tag 'photos/impact.jpg'
			%li.tab.impact_title
				=link_to 'Science and Technology', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4
										=link_to 'Data + Hacking Data', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_hacking_data.json')"
								%li
									%h4
										=link_to 'Data + Science', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_science.json')"
								%li
									%h4
										=link_to 'Data + Language Processing Technologies', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('data_+_language_processing_technologies.json')"
								%li
									%h4
										=link_to 'Data + Platforms', '#animatedModal', class: 'sections-text session-info', :onclick => "fill_data('open_data_and_platforms.json')"
						.half-col
							=image_tag 'photos/impact.jpg'
