%section.sessions#main-sessions
	.container
		%h2.border Main Sessions
		.sessions-content
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.