%section.sessions#main-sessions
	.container
		%h2.border Main Sessions
		.sessions-content
			.session
				=image_tag 'photos/session.png'
				%h3 Official Welcome
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Global Goals for Local Impact
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Business
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and the Data Revolution for Sustainable Development: Opportunities for Joint Action
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and National Statistical Offices: Experiences and Opportunities
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Scaling Up and Deepening Open Data's Transformative Impact in Open Government
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data Charter: Bringing Principles to Practice
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Platforms:
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
