%section.sessions#main-sessions
	.container
		%h2.border Debates
		.sessions-content
			.session
				=image_tag 'photos/session.png'
				%h3 Official Welcome
				%p Open data has been prominently discussed in major global commitments this past year.  However,  is this really making a positive change in people’s lives on the ground?
			.session
				=image_tag 'photos/session.png'
				%h3 Global Goals for Local Impact
				%p Are high-level Open Data commitments  actually translating into real benefits yet (particularly for the poor/marginalized) at the grassroots level?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Business
				%p How companies are leveraging on open data to achieve their business goals?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and the Data Revolution for Sustainable Development: Opportunities for Joint Action
				%p What have been some of the successes and challenges in advancing an open data revolution for sustainable development over the past year since the Global Goals were adopted and Global Partnership was formed?
			.session
				=image_tag 'photos/session.png'
				%h3 Building an Inclusive Data Revolution
				%p What are the next steps in propelling forward the open data agenda?
			.session
				=image_tag 'photos/session.png'
				%h3 Data and Gender: Thinking Critically
				%p How can open data projects include and benefit unconnected women?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Public Procurement
				%p How has open data been used to make public procurement processes more transparent, accountable, and effective to promote positive changes in government and people’s lives?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and National Statistical Offices: Experiences and Opportunities
				%p How open are official statistics, particularly those being used to support the Sustainable Development Goals?
			.session
				=image_tag 'photos/session.png'
				%h3 Breaking the Power of Closed
				%p In scenarios where secrecy is the rule, can we really expect openness to have an impact? When? How?
			.session
				=image_tag 'photos/session.png'
				%h3 Scaling Up and Deepening Open Data's Transformative Impact in Open Government
				%p How is open data deepening the impact of the work done in natural resources governance through environmental data disclosure, service delivery in health and education, among others?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data Charter: Bringing Principles to Practice
				%p What gains has the Charter helped create for increased collaboration and sharing across the open data field today and tomorrow?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Platforms:
				%p What are the most important criteria for agencies to consider when selecting and managing an open data platform?
			.session
				=image_tag 'photos/session.png'
				%h3 Open Data and Health:
				%p Open data usage in health hasn’t increased as much as in other sectors, Why?
			.session
				=image_tag 'photos/session.png'
				%h3 Regional Talk - Europe:
				%p What are the key success factors of the Open Data initiatives in Europe?
			.session
				=image_tag 'photos/session.png'
				%h3 Clossing Session:
				%p What are the takeaways and actions that we are taking home?
