%section.regions#regions
	.container
		%h2.border Regionals
		%h4 Pick a Region:
		%ul.tabs#region_tabs
			%li.tab.region_title
				=link_to 'Asia', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_asia.json')"
			%li.tab.region_title
				=link_to 'Africa', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_africa.json')"
			%li.tab.region_title
				=link_to 'LAC', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_lac.json')"
			%li.tab.region_title
				=link_to 'Europe', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talk_europe.json')"
			%li.tab.region_title
				=link_to 'East Europe', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_east_europe.json')"
			%li.tab.region_title
				=link_to 'North America', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_north_america.json')"
			%li.tab.region_title
				=link_to 'MENA Region', '#', class: 'tab-link-inactive session-info', :onclick => "fill_data('regional_talks_mena.json')"
