%section.regions#regions
	.container
		%h2.border Regionals
		%h4 Pick a Region:
		%ul.tabs
			%li.tab
				=link_to 'Asia', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%h4
								=link_to 'The development of open data in Asia: Joint promotion, partnership, and the way forward by Wei-chung Hwang', 'http://opendatacon.org/the-development-of-open-data-in-asia-joint-promotion-partnership-and-the-way-forward/'
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'Africa', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'LAC', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%h4
								=link_to 'Scaling up the open data revolution: It will be social by Fabrizio Scrollini', 'http://opendatacon.org/scaling-up-the-open-data-revolution-it-will-be-social/'
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'Europe', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'East Europe', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%h4
								=link_to 'Open Data and East Europe and Central Asia: What have we learned since IODC 2015? by Lejla Sadiku', 'http://opendatacon.org/scaling-up-the-open-data-revolution-it-will-be-social/'
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'North America', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
			%li.tab
				=link_to 'MENA Region', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Coming Soon!
						.half-col
							%h3 Projects
							%p Coming Soon!
