%section.top-slider
	.container
		%hgroup
			%h1 International Open Data Roadmap 2016
			%p A network that brings together the ideas of the global community, helping each other to understand better the challenges and guide our work on Open Data around our World. This Roadmap is based on what happens during the International Open Data Conference.
		.slider
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 0
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 0
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 0
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 0
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 0
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 0
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 0
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 0
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 0
					%br
					assistants
		.cols
			.half-col
				%h3 Takeaways
				%p Coming Soon!
			.half-col
				%h3 The Road Ahead
				%p Coming Soon!
