%section.top-slider
	.container
		%hgroup
			%h1 International Open Data Roadmap 2016
			%p A network that brings together the ideas of the global community, helping each other to understand better the challenges and guide our work on Open Data around our World. This Roadmap is based on what happens during the International Open Data Conference.
		.slider
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 1600+
					%br
					assistants
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 87
					%br
					talks
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 330
					%br
					speakers
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 0
					%br
					tweets
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 110
					%br
					blogposts
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 80,000,000
					%br
					people engaged
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 0
					%br
					state datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 0
					%br
					countries represented
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 0
					%br
					topics discussed
		.cols
			.half-col
				%h3 Takeaways
				%p Coming Soon!
			.half-col
				%h3 The Road Ahead
				%p Coming Soon!
