%section.top-slider
	.container
		%hgroup
			%h1 International Open Data Roadmap 2016
			%p A network that brings together the ideas of the global community, helping each other to better understand the challenges and guide our work on Open Data around the world. This Roadmap is based on what happened during the 4th International Open Data Conference.
		.slider
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 1693
					%br
					attendees
			.item
				=image_tag 'icons/talks.svg'
				%h4
					%strong 87
					%br
					talks
			.item
				=image_tag 'icons/speakers.svg'
				%h4
					%strong 330
					%br
					speakers
			.item
				=image_tag 'icons/twitter.svg'
				%h4
					%strong 5890
					%br
					unique tweets
			.item
				=image_tag 'icons/posts.svg'
				%h4
					%strong 109
					%br
					blogposts
			.item
				=image_tag 'icons/engaged.svg'
				%h4
					%strong 31,663
					%br
					people engaged online
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 500k+
					%br
					state datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 89
					%br
					countries represented
			.item
				=image_tag 'icons/keywords.svg'
				%h4
					%strong 204
					%br
					topics discussed
		.cols
			.half-col
				%h3 Takeaways
				%p Coming Soon!
			.half-col
				%h3 The Road Ahead
				%p Coming Soon!
