%section.tracks#tracks
	.container
		%h2.border Actions
		%h4 Pick a Track:
		%ul.tabs#action_tabs
			%li.tab.action_title
				=link_to 'Charter', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p When it comes to open data, it can sometimes feel like the road we are on is one with no ending. No matter how much is accomplished, there is always more to be done. This is why we must take the chances we get to celebrate the victories we’ve achieved, but always with an eye on what’s next.
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Balancing openess and privacy
									.content
										%p The relationship between privacy and transparency is complex. Privacy is often wrongly used by governments to prevent transparency. This is a problem because without access to government information we cannot influence the debate.
										%h4 Projects:
										%p None
								%li
									%h4.js-accordion-trigger International Open Data Charter: creating sector packages to move from principle to impact
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Moving towards open data maturity: how can you sustain impact from open data portals?
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open data leaders panel: updates on government programmes from around the world
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Opening Data for innovation: from supply-driven to demand-driven Open Data strategies
									.content
										%p Demand driven strategies are important in the Open Data atmosphere and its something we have learned from practice. At first we were pretty sure that opening data was enough for changing the world. But now, we are on a stage that we need to iterate the way we have been opening data and start to focus on the questions we want to answer when opening data.
										%h4 Projects:
										%p None
							%h3.m-t Outcomes
							%ul
								%li
									%h4 Target policy and political support
									%h4 Inspire, advocate and drive collective action
									%h4 Translate Open Data into actionable information
									%h4 Support and promote user-driven Open Data standards
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Standards', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p There are various standards initiatives by now. So, how can better connect all of them? Compared to IODC15,  there is far greater coordination between initiatives, so the objective is to maintain coherence between one another, and work forward in the same direction.
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Empowering infomediaries: Translating Open Contracting Data into actionable information
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Opening up Extractives and Land Contracts
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Joined-up data standards: evidence of need and emerging solutions
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger The OjoAlData100 iniative for harmonising datasets in Smart City open data portals
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul
								%li
									%h4 Open Contracting
									%h4 IATI
									%h4 OrgIDS
									%h4 CoST
									%h4 JoinedUp Data Standards
									%h4 To address is to work ok national/regional guidelines for implementing standards, like DCAT creation for example
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Innovation', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p What do we mean when we talk about innovation? We talk about new approaches and sustainable models. How do we get that? Demonstrating impact and trying to conviene about solving particular problems.
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Connecting the dots: Aligning local initiatives with national open data programmes and global goals (OCDE/WB)
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger A global marketplace for city data
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Learnings from open data incubator for Europe (ODINE)
									.content
										%p The crosssectorial involvement of bringing together various actors and open data forward, as concrete examples new open data law in German, open data portal of German Railway Company, the crossover of OGP and EITI, can be shown as great example strengthening the open data ecoystem. This session showed the importantance of interaction needed from all 3 sectors in order make goverments more transparent and open for innovation.
										%h4 Projects:
										%p None
								%li
									%h4.js-accordion-trigger FIWARE: unleashing the potential of real-time open data
									.content
										%p FIWARE is enabling a new generation of smarter applications which exploit large scale, real-time ‘context information’. Particularly, the NGSI version 2 API is aimed at making developer’s life easier, by providing simpler but powerful RESTful interfaces. Colaboration of stakeholders is key for contextual data to be created, in this case, in real time data.
										%h4 Projects:
										%p None
								%li
									%h4.js-accordion-trigger Building a thriving open data ecosystem for economic growth and innovation
									.content
										%p This session was about building sustainable capacities for data driven businesses. The discussion focused on wow can the private sector help achieve greater economic and social development through open data/open data ecosystem: building a thriving open data industry.
										%h4 Projects:
										%p None
							%h3.m-t Outcomes
							%ul
								%li
									%h4 Bringing in new communities its primordial, people that care about solving problems.
									%h4 Explain them what's the data infrastructure to solve problems in their particular areas.
									%h4 And in the case of funding models for open data, the ecosystem requires the private sector to be involved, not only government.
									%h4 We have to start seeing Open data as an industry and a market place. There's a value change we have to value and structure. Pass from the production to the distribution of data.
									%h4 In Silicon valley they say you innovate or die. Will governments die?
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Capacity Building', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p Capacity building is getting people to ‘realise their development goals while enhancing the abilities that will allow them to achieve measurable and sustainable results.
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger The open algorithms (OPAL) project
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Train the trainers: sharing methodologies for teaching how to use open data
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Leveraging Data visualization and partnerships for environmental action
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger GODAN Action. Capacity development for open data users in agriculture and nutrition security
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul
								%li
									%h4 We see the change open data can bring through the action of groups of individuals who have skills to understand what’s hidden in the datasets and process that information for mass consumption and reflection.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Measuring Impact', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p The session focused on 3 main themes toward strengthening open data research: Demand and use, Informing supply and infrastructure and Networking research and researchers.
							%h3 Talks
							%h4
								=link_to 'How to advance open data research towards an understanding of demand users and key data by Danny Lamerhert', 'http://opendatacon.org/how-to-advance-open-data-research-towards-an-understanding-of-demand-users-and-key-data/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger Evidence-based training for open data practitioners? Lessons from open data impact case studies
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger From open data research to policy: influencing global, national and local agenda
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Measuring Open Data together
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Strengthening Data Ecosystems for Greater Development Impact by Closing the Citizen Feedback Loop: Strategies from Around the Globe
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul
								%li
									%h4 There is a need for more evidence on the full life cycle of open data – within and across settings and sectors. An “evidence-based and user-centric open data” approach is necessary to drive adoption, implementation, and use.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Global Goals', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p The Global Partnership, through its network of over 170 Partners, is assembling a Data4SDGs Toolbox - a public good consisting of resources, good practices and tools for achieving the SDGs from both a reporting and monitoring perspective, but also data for action and decision making.
							%h3 Talks
							%h4
								=link_to 'Introduction to Action Areas Blog Series, by Heather McIntosh and Katie Clancy', 'http://opendatacon.org/introduction-to-the-action-areas-blog-series-roadmap-in-motion/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger The open algorithms (OPAL) project
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open agricultural funding: breaking down Silos
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open data and distributed ledger (aka Blockchain). Technologies to solve real-world issues
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open Mapping Mapathon!
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul
								%li
									%h4 Data and Gender, Data and Poverty, theres important issues there
									%h4 How countries are able to respond to SDGs and be locally contextualized
									%h4 Looking at the SDG framework, wow do we make subjets locally relevant against national plans and priorities that are already in place?
									%h4 When citizens are involved in collecting and using data, then government can make a mor targeted investment in adressed issues that the citizens identify.
									%h4 With locally gathered data we can be able to question oficial statistics and show real citizen gathered data that shows us real numbers to help us create real solutions.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
