%section.tracks#tracks
	.container
		%h2.border Actions
		%h4 Pick a Track:
		%ul.tabs#action_tabs
			%li.tab.action_title
				=link_to 'Charter', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'Balancing openess and privacy', '#', class: 'sections-text session-info', :onclick => "fill_data('balancing_openness_and_privacy.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'International Open Data Charter: creating sector packages to move from principle to impact', '#', class: 'sections-text session-info', :onclick => "fill_data('international_open_data_charter_creating_sector_packages_to_move_from_principle_to_impact.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Moving towards open data maturity: how can you sustain impact from open data portals?', '#', class: 'sections-text session-info', :onclick => "fill_data('moving_towards_open_data_maturity_how_can_you_sustain_impact_from_open_data_portals.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Open data leaders panel: updates on government programmes from around the world', '#', class: 'sections-text session-info', :onclick => "fill_data('open_data_leaders_panel_updates_on_government_programmes_from_around_the_world.json)"
								%li
									%h4.js-accordion-trigger
										=link_to 'Opening Data for innovation: from supply-driven to demand-driven Open Data strategies', '#', class: 'sections-text session-info', :onclick => "fill_data('opening_data_for_innovation_from_supply-driven_to_demand-driven_open_data_strategies.json')"
						.half-col
							=image_tag 'photos/actions.jpg'
			%li.tab.action_title
				=link_to 'Standards', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'Empowering infomediaries: Translating Open Contracting Data into actionable information', '#', class: 'sections-text session-info', :onclick => "fill_data('empowering_infomediaries_translating_open_contracting_data_into_actionable_information.json')"
								%li
									%h4.js-accordion-trigger
									.content
										=link_to 'Opening up Extractives and Land Contracts', '#', class: 'sections-text session-info', :onclick => "fill_data('opening_up_extractives_and_land_contracts.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Joined-up data standards: evidence of need and emerging solutions', '#', class: 'sections-text session-info', :onclick => "fill_data('joined-up_data_standards_evidence_of_need_and_emerging_solutions.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'The OjoAlData100 iniative for harmonising datasets in Smart City open data portals', '#', class: 'sections-text session-info', :onclick => "fill_data('the_ojoaldata100_initiative_for_harmonising_datasets_in_smart_city_open_data_portals.json')"
						.half-col
							=image_tag 'photos/actions2.jpg'
			%li.tab.action_title
				=link_to 'Innovation', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'Connecting the dots: Aligning local initiatives with national open data programmes and global goals (OCDE/WB)', '#', class: 'sections-text session-info', :onclick => "fill_data('connecting_the_dots_aligning_local_initiatives_with_national_open_data_programmes_and_global_goals.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'A global marketplace for city data', '#', class: 'sections-text session-info', :onclick => "fill_data('a_global_marketplace_for_city_data.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Learnings from open data incubator for Europe (ODINE)', '#', class: 'sections-text session-info', :onclick => "fill_data('learnings_from_open_data_incubator_for_europe_odine.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'FIWARE: unleashing the potential of real-time open data', '#', class: 'sections-text session-info', :onclick => "fill_data('fiware_unleashing_the_potential_of_real-time_open_data.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Building a thriving open data ecosystem for economic growth and innovation', '#', class: 'sections-text session-info', :onclick => "fill_data('strengthening_data_ecosystems_for_development_results_strategies_from_around_the_globe.json')"
						.half-col
							=image_tag 'photos/actions3.jpg'
			%li.tab.action_title
				=link_to 'Capacity Building', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'The open algorithms (OPAL) project', '#', class: 'sections-text session-info', :onclick => "fill_data('the_open_algorithms_opal_project_unleashing_the_power_of_private_sector_data_for_public_good.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Train the trainers: sharing methodologies for teaching how to use open data', '#', class: 'sections-text session-info', :onclick => "fill_data('train_the_trainers_sharing_methodologies_for_teaching_how_to_use_open_data.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Leveraging Data visualization and partnerships for environmental action', '#', class: 'sections-text session-info', :onclick => "fill_data('leveraging_data_visualization_and_partnerships_for_environmental_action.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'GODAN Action. Capacity development for open data users in agriculture and nutrition security', '#', class: 'sections-text session-info', :onclick => "fill_data('godan_action_capacity_development_for_open_data_users.json')"
						.half-col
							=image_tag 'photos/actions4.jpg'
			%li.tab.action_title
				=link_to 'Measuring Impact', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%h4
								=link_to 'How to advance open data research towards an understanding of demand users and key data by Danny Lamerhert', 'http://opendatacon.org/how-to-advance-open-data-research-towards-an-understanding-of-demand-users-and-key-data/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'Evidence-based training for open data practitioners? Lessons from open data impact case studies', '#', class: 'sections-text session-info', :onclick => "fill_data('evidence-based_training_for_open_data_practitioners_lessons_from_open_data_impact_case_studies.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'From open data research to policy: influencing global, national and local agenda', '#', class: 'sections-text session-info', :onclick => "fill_data('from_open_data_research_to_policy_influencing_global,_national_and_local_agenda.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Measuring Open Data together', '#', class: 'sections-text session-info', :onclick => "fill_data('measuring_open_data_together.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Strengthening Data Ecosystems for Greater Development Impact by Closing the Citizen Feedback Loop: Strategies from Around the Globe', '#', class: 'sections-text session-info', :onclick => "fill_data('strengthening_data_ecosystems_for_development_results_strategies_from_around_the_globe.json')"
						.half-col
							=image_tag 'photos/actions5.jpg'
			%li.tab.action_title
				=link_to 'Global Goals', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Sessions
							%h4
								=link_to 'Introduction to Action Areas Blog Series, by Heather McIntosh and Katie Clancy', 'http://opendatacon.org/introduction-to-the-action-areas-blog-series-roadmap-in-motion/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger
										=link_to 'The open algorithms (OPAL) project', '#', class: 'sections-text session-info', :onclick => "fill_data('the_open_algorithms_opal_project_unleashing_the_power_of_private_sector_data_for_public_good.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Open agricultural funding: breaking down Silos', '#', class: 'sections-text session-info', :onclick => "fill_data('open_agricultural_funding_breaking_down_silos.json')"
								%li
									%h4.js-accordion-trigger
										=link_to 'Open data and distributed ledger (aka Blockchain). Technologies to solve real-world issues', '#', class: 'sections-text session-info', :onclick => "fill_data('open_data_and_distributed_ledger_technologies_to_solve_real-world_issues.json)"
								%li
									%h4.js-accordion-trigger
										=link_to 'Balancing openess and privacy', '#', class: 'sections-text session-info', :onclick => "fill_data('balancing_openness_and_privacy.json)"
						.half-col
							=image_tag 'photos/actions6.jpg'
