%section.tracks#tracks
	.container
		%h2.border Actions
		%h4 Pick a Track:
		%ul.tabs#action_tabs
			%li.tab.action_title
				=link_to 'Charter', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Balancing openess and privacy
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger International Open Data Charter: creating sector packages to move from principle to impact
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Moving towards open data maturity: how can you sustain impact from open data portals?
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open data leaders panel: updates on government programmes from around the world
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Opening Data for innovation: from supply-driven to demand-driven Open Data strategies
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Standards', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p Actions to develop and adopt good practices and open standards for data publication as well as to strengthen the use and impact of open data standards that foster social and economic change
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Empowering infomediaries: Translating Open Contracting Data into actionable information
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Opening up Extractives and Land Contracts
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Joined-up data standards: evidence of need and emerging solutions
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger The OjoAlData100 iniative for harmonising datasets in Smart City open data portals
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Innovation', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Connecting the dots: Aligning local initiatives with national open data programmes and global goals (OCDE/WB)
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger A global marketplace for city data
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Learnings from open data incubator for Europe (ODINE)
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger FIWARE: unleashing the potential of real-time open data
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Building a thriving open data ecosystem for economic growth and innovation
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Capacity Building', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%h4
								=link_to 'Talking Capacity building at IODC 2016: What we Learned and where do we need to go by Fiona Smith', 'http://opendatacon.org/talking-capacity-building-at-iodc-2016-what-have-we-learned-and-where-do-we-need-to-go/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger The open algorithms (OPAL) project
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Train the trainers: sharing methodologies for teaching how to use open data
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Leveraging Data visualization and partnerships for environmental action
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger GODAN Action. Capacity development for open data users in agriculture and nutrition security
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Measuring Impact', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p Seek to solicit concrete suggestion and ideas toward measuring and researching Open Data. In particular three break-out session will focus on the following themes toward strengthening open data research.
							%h3 Talks
							%h4
								=link_to 'How to advance open data research towards an understanding of demand users and key data by Danny Lamerhert', 'http://opendatacon.org/how-to-advance-open-data-research-towards-an-understanding-of-demand-users-and-key-data/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger Evidence-based training for open data practitioners? Lessons from open data impact case studies
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger From open data research to policy: influencing global, national and local agenda
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Measuring Open Data together
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Strengthening Data Ecosystems for Greater Development Impact by Closing the Citizen Feedback Loop: Strategies from Around the Globe
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab.action_title
				=link_to 'Global Goals', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%p Seek to solicit concrete suggestion and ideas toward measuring and researching Open Data. In particular three break-out session will focus on the following themes toward strengthening open data research.
							%h3 Talks
							%h4
								=link_to 'Introduction to Action Areas Blog Series, by Heather McIntosh and Katie Clancy', 'http://opendatacon.org/introduction-to-the-action-areas-blog-series-roadmap-in-motion/'
							%ul.accordion
								%li
									%h4.js-accordion-trigger The open algorithms (OPAL) project
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open agricultural funding: breaking down Silos
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open data and distributed ledger (aka Blockchain). Technologies to solve real-world issues
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Open Mapping Mapathon!
									.content
										%p Coming Soon!
							%h3.m-t Outcomes
							%ul.accordion
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
								%li
									%h4.js-accordion-trigger Coming Soon!
									.content
										%p Coming Soon!
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
