---
title: IODC Report
---

%section.top-slider
	.container
		%hgroup
			%h1 Interational Open Data Roadmap 2016
			%p A network that brings together the ideas of the global community, helping each other to understand better the challenges and guide our work on Open Data around our World. This Roadmap is based on what happens during the International Open Data Conference.
		.slider
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
		.cols
			.half-col
				%h3 Takeaways
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.half-col
				%h3 The Road Ahead
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

%section.search
	.container
		%h2.border Filter information by topic
		.search-content
			%input{ id: "textsearch", type: "text"}

%section.sessions#main-sessions
	.container
		%h2.border Main Sessions
		.sessions-content
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
			.session
				=image_tag 'photos/session.png'
				%h3 Title goes here
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.


%section.impact#impact
	.container
		%h2.border Impact
		%h4 Pick a Track:
		%ul.tabs
			%li.tab
				=link_to 'Education', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Agriculture', '#', class: 'tab-link'
				.tab-content
					Agriculture
			%li.tab
				=link_to 'Geoespacial', '#', class: 'tab-link'
				.tab-content
					Geoespacial
			%li.tab
				=link_to 'Utilities', '#', class: 'tab-link'
				.tab-content
					Utilities
			%li.tab
				=link_to 'Culture', '#', class: 'tab-link'
				.tab-content
					Culture
			%li.tab
				=link_to 'Transport', '#', class: 'tab-link'
				.tab-content
					Transport
%section.regions#regions
	.container
		%h2.border Regionals
		%h4 Pick a Region:
		%ul.tabs
			%li.tab
				=link_to 'Latin America', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.half-col
							%h3 Projects
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			%li.tab
				=link_to 'Asia', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.half-col
							%h3 Projects
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			%li.tab
				=link_to 'Africa', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Ideas
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.half-col
							%h3 Projects
							%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
%section.tracks#tracks
	.container
		%h2.border Action
		%h4 Pick a Track:
		%ul.tabs
			%li.tab
				=link_to 'Education', '#', class: 'tab-link'
				.tab-content
					.cols
						.half-col
							%h3 Talks
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
							%h3.m-t Actions
							%ul.accordion
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
								%li
									%h4.js-accordion-trigger Create open data repositories
									.content
										%p Create open data repositories for at least 10% of the Universities of the World.
						.half-col
							=image_tag 'photos/tabs-placeholder.png'
			%li.tab
				=link_to 'Agriculture', '#', class: 'tab-link'
				.tab-content
					Agriculture
			%li.tab
				=link_to 'Geoespacial', '#', class: 'tab-link'
				.tab-content
					Geoespacial
			%li.tab
				=link_to 'Utilities', '#', class: 'tab-link'
				.tab-content
					Utilities
			%li.tab
				=link_to 'Culture', '#', class: 'tab-link'
				.tab-content
					Culture
			%li.tab
				=link_to 'Transport', '#', class: 'tab-link'
				.tab-content
					Transport
%section.community#community
	.container
		%h2.border Community
		.gallery
			.h2-w1.bg
				=image_tag 'photos/photo1.png'
				%blockquote
					“Lorem quote ipsum”
					%span - Paulina

			.h1-w1
				=image_tag 'photos/photo2.png'
			.h1-w1
				=image_tag 'photos/photo3.png'
			.h1-w2
				=image_tag 'photos/photo4.png'

		%ul.wide-accordion
			%li
				%h4.js-accordion-trigger The buzz
				.content
					%ul.buzz
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
						%li
							%p
								%i.fa.fa-rss
								%strong Blogpost
								Open contracting: an innovative approach to better public procurement picks up steam.
							.date 2 hours ago
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
						%li
							%p
								%i.fa.fa-twitter
								%strong #IODC16
								Agenda is finally live!! Start scheduling your sessions
								=link_to 'http://opendatacon.org/agenda/', '#'
								'#opendata'
							.date 1 hour ago
			%li
				%h4.js-accordion-trigger Discussion
				.content Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
			%li
				%h4.js-accordion-trigger Commitments
				.content Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
