---
title: IODC Report
---

%section.top-slider
	.container
		%hgroup
			%h1 Title goes here
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		.slider
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
			.item
				=image_tag 'icons/datasets.svg'
				%h4
					%strong 20,000
					%br
					datasets around the world
			.item
				=image_tag 'icons/countries.svg'
				%h4
					%strong 20,000
					%br
					countries
			.item
				=image_tag 'icons/assistants.svg'
				%h4
					%strong 20,000
					%br
					assistants
%section.tracks
	.container
		%h2.border Tracks
		%h4 Pick a Track:
		.tags
			.tag.active Geoespacial
			.tag Agriculture
			.tag Education
			.tag Utilities
			.tag Culture
			.tag Transport
		.cols
			.half-col
				%h2 2015
				%h3 Last year summary
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
			.half-col
				%h2 2016
				%h3 Talks
				%ul.accordion
					%li
						%h4.js-accordion-trigger Main Session 1
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 2
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 3
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 4
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.

%section.regions
	.container
		%h2.border Regions
		%h4 Pick a Region:
		.tags
			.tag.active Latin America
			.tag Asia
			.tag Africa
		.cols
			.half-col
				%h2 2015
				%h3 Last year summary
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
			.half-col
				%h2 2016
				%h3 Talks
				%ul.accordion
					%li
						%h4.js-accordion-trigger Main Session 1
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 2
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 3
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Main Session 4
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
				%h3.m-t Commitments
				%ul.accordion
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.
					%li
						%h4.js-accordion-trigger Commitment
						%p Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariaur.

